@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
   --color-primary: #ff0000;
   --color-secondary: #00ff00;
   --color-tertiary: #0000ff;
}

body {
  @apply font-sans text-gray-800 bg-white;
}

/* h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-[#1e1e1e];
} */

